<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD51afza5z5gVqqZX-uE0iclslhsbq8Qwg</string>
	<key>GCM_SENDER_ID</key>
	<string>286110052676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tangrad.app</string>
	<key>PROJECT_ID</key>
	<string>tangrad-8e049</string>
	<key>STORAGE_BUCKET</key>
	<string>tangrad-8e049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286110052676:ios:5dbb3cb2890306bea42711</string>
</dict>
</plist>